/* PHASE 3: Content */

.content {
  background-color: #fff;
  width: 900px;
  margin: 0 auto;
}

.content-sidebar, .content-main {
  box-sizing: border-box;
  padding: 20px;
}

.content-sidebar {
  width: 240px;
  float: left;
}

.content-main {
  width: 660px;
  float: left;
}

.content h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.content p {

}
