// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.band-row {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-green;
  padding: 0 20px;
  margin-bottom: 20px;
}
